/* open sans font */

@font-face {
    font-family: Lobster-Regular;
    src: url(../webfonts/font/Lobster-Regular.ttf);
  }

  @font-face {
    font-family: Fruktur-Regular;
    src: url(../webfonts/font/Fruktur-Regular.ttf);
  }
  
  @font-face {
    font-family: Roboto-Bold;
    src: url(../webfonts/font/Roboto-Bold.ttf);
  }
  
  @font-face {
    font-family: Roboto-BoldItalic;
    src: url(../webfonts/font/Roboto-BoldItalic.ttf);
  }
  
  @font-face {
    font-family: OpenSans-SemiBold;
    src: url(../font/OpenSans-SemiBold.ttf);
  }
  